body {
    background-color: black;
}

header {
    color: white;
    font-size: 34px;
    text-align: center;
    margin: auto;
    padding: 50px;
}

ul {
    display: grid;
    text-align: center;
    justify-content: center;
    gap: 40px;
    position: absolute;
    top: 1000px;

}

a {
    color: yellow;
    text-decoration: none;
}